<div class="dialog-container">
    <div class="close-dialog">
        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="body-dialog">
        <div class="icon-dialog error">
            <mat-icon>error_outline</mat-icon>
        </div>
        <div class="text-dialog">
            <div class="title-dialog">
                Errore
            </div>
            <div>
                {{data.message}}
            </div>
        </div>
    </div>
</div>